<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.TestMapper">
    <select id="selectById" resultMap="TestEntityResult">

        SELECT cell.id ,cell.sample_name,cell_property.key,cell_property.value
        FROM cell
                 INNER JOIN cell_property
                            ON cell.id=cell_property.cell_id
        where cell.id =#{id}

    </select>
    <resultMap id="TestEntityResult" type="TestEntity">
        <id property="id" column="id"/>
        <result property="sample_name" column="sample_name"/>
        <collection property="propertyList" ofType="TestEntityProperty">
            <result property="cell_id" column="cell_id"></result>
            <result property="key" column="key"></result>
            <result property="value" column="value"></result>
        </collection>
    </resultMap>
</mapper>